<h1>My Blogs</h1>
<p>Record my life.</p>

<div class="portfolioDisplay">
  {{#each blogs}}
    <div class="gridItem">
      <a href="/blogs/{{id}}"> <p id="title">{{title}}</p></a>
    </div>
  {{/each}}
</div>