<h1>My Blogs</h1>
<p>Record my life.</p>

<div>
  <form action="/blogs-search" method="get">
    <input
      type="text"
      placeholder="Search..."
      name="searchValue"
      value="{{searchValue}}"
    />
    <input type="submit" value="ðŸ”" />
  </form>
</div>

<div class="portfolioDisplay">
  {{#each blogs}}
    <div class="gridItem">
      <a href="/blogs/{{id}}"> <p id="title">{{title}}</p></a>
      <p>{{date}}</p>
    </div>
  {{/each}}
</div>