{{! <a target="_blank" href="https://icons8.com/icon/118485/facebook">Facebook</a>
icon by
<a target="_blank" href="https://icons8.com">Icons8</a> }}

<h1 id="contactHeader">
  Wanna get in touch?
  <br />
  Let's talk!
</h1>

<section>
  <div id="emailLink">
    <p>For general questions:</p>
    <a href="jyiiii047@gmail.com">jyiiii047@gmail.com</a>
  </div>
  <br />
  <div id="socialLinks">
    <a href="https://www.instagram.com/jyyy_ssie/">
      <img src="/instagramicon.svg" />
    </a>
    <a href="https://www.facebook.com/profile.php?id=100072766143133">
      <img src="/facebookicon.svg" />
    </a>
  </div>
</section>

<div class="errorMessagesForContact">
  {{#if errorMessages.length}}
    <p>Fail to submit your contact infos because:</p>
    <ul>
      {{#each errorMessages}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<section>
  <form action="" method="post" class="contactForm">
    <div>
      <label class="form-label" for="input-example-1">Name</label>
      <div class="nameGroup">
        <input
          type="text"
          placeholder="First Name"
          name="firstName"
          value="{{firstName}}"
        />
        <input
          type="text"
          placeholder="Last Name"
          name="lastName"
          value="{{lastName}}"
        />
      </div>
    </div>
    <div>
      <label class="form-label" for="input-example-1">Email</label>
      <input
        class="form-input"
        type="email"
        id="input-example-1"
        name="email"
        value="{{email}}"
      />
    </div>
    <div>
      <label class="form-label" for="input-example-1">Project Deadline</label>
      <input type="date" placeholder="Date" name="date" />
    </div>
    <div>
      <label class="form-label" for="input-example-3">Description</label>
      <textarea
        class="form-input"
        id="input-example-3"
        placeholder="Short Description..."
        rows="3"
        name="description"
      ></textarea>
    </div>
    <br />
    <input type="submit" value="SEND" />
  </form>
</section>