<center>
  <section class="formBox">
    <h4>Create new project</h4>

    <div class="errorMessagesForElse">
      {{#if errorMessages.length}}
        <p>Fail to create new project because:</p>
        <ul>
          {{#each errorMessages}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    <form action="" method="post" enctype="multipart/form-data">
      <div class="textField">
        Title:<input type="text" name="title" value="{{{title}}}" />
      </div>
      <div class="textField">
        Intro:<input type="text" name="intro" value="{{{intro}}}" />
      </div>
      <div class="textField">
        Upload image:
        <input type="file" name="image" />
      </div>
      <input type="submit" value="Create New Project" />
    </form>

  </section>
</center>