<center>
  <section class="formBox">
    <h4>Login</h4>
    <form action="" method="post">
      <div class="errorMessagesForElse">
        {{#if invalidAccount.length}}
          {{invalidAccount}}
        {{/if}}
      </div>
      <div class="textField">
        <label>Username</label>
        <input type="text" name="username" />
      </div>
      <div class="textField">
        <label>Password</label>
        <input type="password" name="password" />
      </div>
      <input type="submit" value="Login" />

    </form>
  </section>
</center>