:root {
  --text_color: rgb(47, 47, 47);
  --padding_left: 25px;
  --title_font: ivypresto-display, serif;
  --text_font: "Montserrat", sans-serif;
}

/*general*/
body {
  background-color: rgb(250, 250, 236);
}

footer {
  background-color: white;
}

p {
  padding-left: var(--padding_left);
}

a {
  font-family: var(--title_font);
  text-decoration: none;
  color: var(--text_color);
}

h4 {
  padding-left: var(--padding_left);
  font-family: var(--title_font);
  font-weight: 200;
}

/* header */
#siteLogo {
  text-decoration: none;
  font-family: var(--text_font);
  font-weight: 600;
  font-size: 20px;
  color: var(--text_color);
  letter-spacing: 0.21em;
  padding-left: var(--padding_left);
}

#nav {
  padding: var(--padding_left);
}

#nav a {
  font-size: 18px;
  font-weight: 300;
  color: var(--text_color);
}

.navAbove {
  display: flex;
  margin-left: 150px;
  margin-top: -25px;
}

.navAbove a {
  font-size: 18px;
  font-weight: 300;
  margin-left: 10px;
  color: var(--text_color);
}

#login {
  position: relative;
  margin-left: 75%;
}

#login input {
  border: none;
  background: none;
  font-family: var(--title_font);
  font-size: 18px;
  font-weight: 300;
  color: var(--text_color);
}

/* footer */
hr {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#copyright {
  font-family: var(--text_font);
  font-weight: 400;
  font-size: 15px;
  padding-left: var(--padding_left);
}

/* searchbar*/
#searchbar {
  margin-top: -2%;
  margin-left: 77%;
}

#searchbar input {
  font-family: var(--text_font);
  border: 1px solid;
}

.errorMessagesForSearch {
  margin-left: 75%;
  color: rgb(234, 81, 76);
}

/* detailPages */

#intro {
  font-family: var(--title_font);
  font-weight: 100;
  font-size: 50px;
  width: 60%;
  margin-top: 2%;
}

#selfie {
  margin-left: 70%;
  margin-bottom: 10%;
}
/*project and blog page*/
.portfolioDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  padding: 17px;
}

.gridItem {
  background-color: rgb(228, 228, 228);
}

#title {
  font-size: 24px;
  color: var(--text_color);
  font-weight: 100;
}
/*contact page*/
.contactForm {
  margin-left: 50%;
}

#contactHeader {
  width: 45%;
  font-family: var(--title_font);
  font-size: 50px;
  font-weight: 100;
  padding-left: var(--padding_left);
  margin-top: 5%;
}

#emailLink {
  font-family: var(--text_font);
}

#emailLink a {
  margin-left: var(--padding_left);
  text-decoration: underline;
}

#socialLinks img {
  margin-left: var(--padding_left);
}

.nameGroup {
  display: flex;
}

.nameGroup input {
  margin: 5px;
  border: 1px solid silver;
  padding: 5px;
}

.contactForm {
  margin-right: 10%;
}

.contactForm input[type="submit"] {
  border: 2px solid;
  background-color: white;
}

/*contactInfos page*/
.contactDisplay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  padding: 17px;
}

.contactItems {
  background-color: white;
  border: 2px solid var(--text_color);
}

.contactDisplay input[type="submit"] {
  border: 1px solid;
  margin-left: 17px;
}

/*creating & login*/
.formBox {
  margin-left: 35%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 400px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid var(--text_color);
  border-radius: 10px;
  font-family: var(--text_font);
}

.formBox h4 {
  text-align: center;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid silver;
}

.formBox form {
  padding: 0 40px;
}

.textField {
  position: relative;
  border-bottom: 1px solid var(--text_color);
  margin: 30px 0;
}

.textField input {
  width: 100%;
  padding: 0 5px;
  height: 30px;
  border: none;
  background: none;
  outline: none;
}

.formBox input[type="submit"] {
  border: 2px solid;
  background-color: white;
}

.editButton {
  border: 2px solid;
  background-color: white;
  margin-left: var(--padding_left);
}

.errorMessagesForContact {
  margin-top: -300px;
  margin-left: 50%;
  color: rgb(234, 81, 76);
}

.errorMessagesForElse {
  margin-left: 5%;
  color: rgb(234, 81, 76);
}
